Repository Ioannis-Mykelos/Classify-Song-Genres-from-Audio-Data-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, pylint-check, check-requirements, check-config-validity

pytest-check:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - test_song_classifier.py
  - -v
  pass_filenames: false
  always_run: false

pylint-check:
  name: Run pylint
  entry: pylint
  language: system
  args:
  - song_genre_classifier.py
  - config.py
  - cli.py
  - --output-format=text
  pass_filenames: false
  always_run: false

check-requirements:
  name: Check requirements.txt
  entry: python -c "import pkg_resources; pkg_resources.parse_requirements(open('requirements.txt'))"
  language: system
  pass_filenames: false

check-config-validity:
  name: Check config.py validity
  entry: python -c "import config; print('Config loaded successfully')"
  language: system
  pass_filenames: false

fix: fix workflows
  .github/workflows/precommits-pylint-pytest.yaml
Due: none

fix: fix workflows
  .github/workflows/precommits-pylint-pytest.yaml
  .gitignore
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  requirements.txt
Due: check-requirements

fix: fix workflows
  poetry.lock
  pyproject.toml
Due: none

rm random files
  .markdownlint.json
  poetry.lock
  pyproject.toml
  requirements.txt
  setup.cfg
Due: check-requirements

fix: update pyproject.toml
  pyproject.toml
Due: none

fix(update): make precommits work
  README.md
  cli.py
  config.py
  data/fma-rock-vs-hiphop.csv
  scripts/setup_dev.py
  setup.py
  song_genre_classifier.py
  src/data_processing/dataframe_preprocessing.py
  src/data_processing/datframe_manipulation.py
  src/models/model.py
  test_song_classifier.py
Due: pytest-check, pylint-check, check-config-validity

fix(update): make precommits work
  test/conftest.py
  test/test_song_classifier.py
Due: pytest-check, pylint-check

fix(update): make precommits work
  test/conftest.py
  test/test_song_classifier.py
  test_song_classifier.py
Due: pytest-check, pylint-check

fix(update): make precommits work
  .github/workflows/precommits-pylint-pytest.yaml
  ws.ipynb
Due: none

fix(update): make precommits work
  .github/workflows/precommits-pylint-pytest.yaml
  poetry.lock
  pyproject.toml
Due: none

fix(update): make precommits work
  .github/workflows/precommits-pylint-pytest.yaml
Due: none

fix(update): make precommits work
  test/test_song_classifier.py
Due: pytest-check, pylint-check

fix(test): update test folder
  test/test_song_classifier.py
Due: pytest-check, pylint-check

fix(test): update test folder
  test/conftest.py
Due: pytest-check, pylint-check

fix(test): update test folder
  song_genre_classifier.py
Due: pytest-check, pylint-check

fix(test): update test folder
  CI_CD_SETUP.md
  README_PROJECT_SUMMARY.md
Due: none

fix(test): update test folder
  README.md
Due: none

fix(ipynb): remove notebook
  Song Genre Classification project.ipynb
Due: none

fix(move files): Move files to the correct folders
  setup.py
  src/cli.py
  src/config.py
  src/song_genre_classifier.py
Due: pytest-check, pylint-check, check-config-validity

fix(move files): Move files to the correct folders
  src/setup_dev.py
Due: pytest-check, pylint-check

fix(_init__.py): Add init files
  src/__init__.py
  src/data_processing/__init__.py
  src/models/__init__.py
  test/__init__.py
Due: pytest-check, pylint-check

fix(.gitignore): Update .gitignore
  .gitignore
Due: none

fix(README.md): Update Readme.md file
  README.md
Due: none

fix(pytest): update conftest.py
  test/conftest.py
Due: pytest-check, pylint-check

Path conditions:
  pytest-check: any of: \.py$
  pylint-check: any of: \.py$
  check-requirements: any of: requirements.txt
  check-config-validity: any of: config.py
